<a href="https://colab.research.google.com/github/Dulon18/Machine_Learning_project/blob/main/Book_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Collaborating Recommender System**

In [1]:
import numpy as np
import pandas as pd

# **Data Preprocessing**

In [2]:
#load dataset in pandas dataframe
books=pd.read_csv('/content/BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

# Removing Image columns from dataset

In [5]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [6]:
# new dataset
books.head(1)

         ISBN           Book-Title  ... Year-Of-Publication                Publisher
0  0195153448  Classical Mythology  ...                2002  Oxford University Press

[1 rows x 5 columns]

In [7]:
#rename columns

books.rename(columns={'Book-Title':'title',
    'Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [8]:
books.head(2)

         ISBN                title  ...  year                publisher
0  0195153448  Classical Mythology  ...  2002  Oxford University Press
1  0002005018         Clara Callan  ...  2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [9]:
user_data = pd.read_csv('/content/BX-Users.csv',sep=';',error_bad_lines=False,encoding='latin-1')

In [10]:
user_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
#rename columns
user_data.rename(columns={'User-ID':'user_id',
                          'Location':'location','Age':'age'},inplace=True)

In [12]:
user_data.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [13]:

ratings=pd.read_csv('/content/BX-Book-Ratings.csv',sep=';'
                  ,error_bad_lines=False,encoding='latin-1')

In [14]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
ratings.rename(columns={'User-ID':'user_id',
                        'Book-Rating':'rating'},inplace=True)

In [16]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [17]:
print(books.shape,user_data.shape,ratings.shape)

(271360, 5) (278858, 3) (1149780, 3)

In [18]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user_id, Length: 105283, dtype: int64

In [19]:
ratings['user_id'].value_counts().shape

(105283,)

In [20]:
x=ratings['user_id'].value_counts()>200

In [21]:
y=x[x].index

In [22]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183, 155916,  44296,  73681,  59727,  28634, 188951,   9856,
            268622, 274808],
           dtype='int64', length=899)

In [23]:
ratings = ratings[ratings['user_id'].isin(y)]

In [24]:
ratings.shape

(526356, 3)

In [25]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [26]:
rating_with_books = ratings.merge(books,on='ISBN')

In [27]:
rating_with_books.shape

(487671, 7)

In [28]:
number_rating =rating_with_books.groupby('title')['rating'].count().reset_index()

In [29]:
number_rating.rename(columns={'rating':'number of rating'},inplace=True)

In [30]:
final_rating = rating_with_books.merge(number_rating,on='title')

In [31]:
final_rating

        user_id  ... number of rating
0        277427  ...               82
1          3363  ...               82
2         11676  ...               82
3         12538  ...               82
4         13552  ...               82
...         ...  ...              ...
487666   275970  ...                1
487667   275970  ...                1
487668   275970  ...                1
487669   275970  ...                1
487670   275970  ...                1

[487671 rows x 8 columns]

In [32]:
final_rating=final_rating[final_rating['number of rating']>=50]

In [33]:
final_rating.shape

(61853, 8)

In [34]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
final_rating.shape

(59850, 8)

In [36]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [37]:
book_pivot.fillna(0,inplace=True)

In [38]:
book_pivot

user_id                                             254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
Zoya                                                   0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[742 rows x 888 columns]

In [39]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [40]:
type(book_sparse)

scipy.sparse.csr.csr_matrix

# Implementing Model

In [41]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm="brute")

In [42]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [43]:
distances,suggestions =model.kneighbors(book_pivot.iloc[237, :].values.reshape(1,-1),n_neighbors=6)

In [44]:
suggestions

array([[237, 240, 238, 241, 184, 536]])

In [45]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [59]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances,suggestions =model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1,-1),n_neighbors=6)

    for i in range(len(suggestions)):
       #print(book_pivot.index[suggestions[i]])
       if i==0:
           print("The recomended book's for",book_name,"are : ")
       if not i:
           print(book_pivot.index[suggestions[i]])

In [63]:
#put input
recommend_book('The Cradle Will Fall')

The recomended book's for The Cradle Will Fall are :
Index(['The Cradle Will Fall', 'Exclusive', 'The Long Road Home',
       'Eyes of a Child', 'Jacob Have I Loved', 'No Safe Place'],
      dtype='object', name='title')