<a href="https://colab.research.google.com/github/Dulon18/Machine_Learning_project/blob/main/Credit_card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Work Flow**


Creadit Card Data ----> Data preprocessing -->Data Analysis ---> Train Test Data --> Logistic Regration Model ---> Evaluation

In [114]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [115]:
# Loading the dataset
creditcard_dataset = pd.read_csv('/content/creditcard.csv')
creditcard_dataset.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [116]:
creditcard_dataset.shape

(284807, 31)

In [117]:
#dataset information
creditcard_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [118]:
#check missing value
creditcard_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [119]:
# Distribution of legit transaction & fraudulent transaction
creditcard_dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# **This Dataset is highly unbalanced**


0--> Normal transaction

1--> Fraudulent transaction

In [120]:
#Seperating the data for analysis
legit = creditcard_dataset[creditcard_dataset.Class == 0]
fraud = creditcard_dataset[creditcard_dataset.Class == 1]

In [121]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [122]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [123]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [124]:
# Compare the values for both transaction

creditcard_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

# **Under-Sampling**

Buliding a sample dataset containg similar distribution of normal transactions and fraud transactions.

Number of fraudulent Transactions -->492

In [125]:
legit_sample = legit.sample(n=492)

In [126]:
#Concatanating two dataframes

new_dataset =pd.concat([legit_sample,fraud],axis=0)
# axis 0 mean row & 1 means colomn

In [127]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
164219  116548.0 -2.671064 -1.755989  ...  0.070731   88.50      0
21681    31805.0  1.312581 -0.686000  ...  0.014613  102.42      0
165076  117182.0  1.915695 -0.200272  ... -0.038060   43.40      0
24508    33264.0 -1.098412  0.777459  ... -0.139596   38.89      0
120022   75685.0  1.254968  0.035608  ... -0.011726   46.75      0

[5 rows x 31 columns]

In [128]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      93434.292683  0.027127 -0.059806  ...  0.012023 -0.013161   95.453089
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

# **Splitting data into Features and Targets**

In [129]:
x=new_dataset.drop(columns='Class',axis=1)
y =new_dataset['Class']

print(x,y)

            Time        V1        V2  ...       V27       V28  Amount
164219  116548.0 -2.671064 -1.755989  ...  0.572341  0.070731   88.50
21681    31805.0  1.312581 -0.686000  ... -0.074834  0.014613  102.42
165076  117182.0  1.915695 -0.200272  ...  0.046113 -0.038060   43.40
24508    33264.0 -1.098412  0.777459  ...  0.053300 -0.139596   38.89
120022   75685.0  1.254968  0.035608  ... -0.118604 -0.011726   46.75
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns] 164219    0
21681     0
165076    0
24508     0
120022    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [130]:
#split the data into traning & testing data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2, stratify =y,random_state =2)

In [131]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

# **Model Traning**

In [132]:
model = LogisticRegression()

In [133]:
#traing the model with traing data
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# **Model Evoluation**

In [134]:
#Accuracy Score for training data
x_train_prediction =model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [135]:
print("Accuracy on Training Data : ", training_data_accuracy)

Accuracy on Training Data :  0.9453621346886912

In [136]:
#Accuracy Score for training data
x_test_prediction =model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

print("Accuracy on Training Data : ", test_data_accuracy)

Accuracy on Training Data :  0.9441624365482234